<template>
  <article class="container article">
    <article-header />
    <div v-if="content" class="container pl-5 pr-5">
      <article-display :content="content"></article-display>
    </div>
    <div v-if="content === false">
      <p class="text-center">
        No article with this exact name found. Use Edit button in the header to add it.
      </p>
    </div>
  </article>
</template>

<script>
import ArticleDisplay from "@/components/ArticleDisplay.vue";
import ArticleHeader from "@/components/ArticleHeader.vue";
import { getArticle } from "@/components/API.js";

export default {
  data() {
    return {
      content: null
    };
  },
  components: {
    ArticleHeader,
    ArticleDisplay
  },
  async mounted() {
    this.content = await getArticle(this.$route.params.name);
  }
};
</script>

<style>
.left {
  float: left;
}
.right {
  float: right;
}
</style>
