<template>
  <div>
    <article-header :showEdit="false" />
    <div class="container">
      <div class="row">
        <div class="col">
          <article-editor
            v-if="content || content === ''"
            @updated="newContent"
            @save="save"
            :content="content"
          />
        </div>
        <div class="col">
          <div class="row"><h3>Preview</h3></div>
          <div class="row">
            <div class="container well border border rounded">
              <article-display v-if="content" :content="content" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ArticleHeader from "@/components/ArticleHeader.vue";
import ArticleEditor from "@/components/ArticleEditor.vue";
import ArticleDisplay from "@/components/ArticleDisplay.vue";
import { getArticle, saveArticle } from "@/components/API.js";

export default {
  data() {
    return {
      content: null
    };
  },
  computed: {
    title() {
      return this.$route.params.name;
    }
  },
  components: {
    ArticleHeader,
    ArticleEditor,
    ArticleDisplay
  },
  methods: {
    newContent(content) {
      this.content = content;
    },
    save() {
      saveArticle(this.title, this.content).then(status => {
        //console.log("saved", status);
        if (status) {
          this.$router.push("/" + this.title);
        }
      });
    }
  },
  async mounted() {
    this.content = await getArticle(this.title);
    if (this.content === false) {
      this.content = "";
    }
  }
};
</script>

<style></style>
