<template>
  <div class="container mt-3 home text-center">
    <h1 class="text-left">Wiki</h1>
    <hr />
    <h3>Articles</h3>
    <div class="row justify-content-center">
      <article-list class="col-6" />
    </div>
  </div>
</template>

<script>
import ArticleList from "@/components/ArticleList.vue";

export default {
  name: "Home",
  data: () => {
    return {};
  },
  components: {
    ArticleList
  }
};
</script>
