<template>
  <header class="container mt-3">
    <div class="row">
      <div class="col align-self-start pl-0">
        <router-link class="col text-left text-muted" to="/">Home</router-link>
      </div>
    </div>
    <div class="row">
      <div class="col align-self-start">
        <h1 class="text-left mb-0">{{ $route.params.name }}</h1>
      </div>
      <div v-if="showEdit" class="col align-self-end ">
        <router-link
          :to="'/edit/' + $route.params.name"
          class="btn btn-outline-secondary btn-sm float-right"
          >Edit</router-link>
      </div>
    </div>
    <hr />
  </header>
</template>

<script>
export default {
  props: {
    showEdit: { type: Boolean, default: true }
  }
};
</script>
