<template>
  <div class="editor container">
    <div class="row"><h3>Edit</h3></div>
    <div class="row">
      <textarea class="form-control" id="article-content-edit" name="content" v-model="content_edit" />
    </div>
    <div class="row mt-2 justify-content-end">
      <div class="col col-2">
        <router-link class="btn btn-secondary float-right" :to="'/' + $route.params.name">Cancel</router-link>
      </div>
      <div class="col col-2">
        <button class="btn btn-success float-right" @click="$emit('save', content_edit)">Save</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["content"],
  data() {
    return {
      content_edit: this.content
    };
  },
  watch: {
    content_edit: function(newContent) {
      this.$emit("updated", newContent);
    }
  }
};
</script>

<style></style>
