<template>
  <div class="article-list">
    <div class="list-group">
      <article-link
        class="list-group-item list-group-item-action"
        v-for="article in articles"
        :key="article"
        :article="article"
      />
    </div>
  </div>
</template>

<script>
import ArticleLink from "./ArticleLink.vue";
import { getAllArticles } from "./API";

export default {
  data() {
    return {
      articles: [],
      loaded: false
    };
  },
  components: {
    ArticleLink
  },
  mounted() {
    getAllArticles().then(result => {
      this.articles = result;
      this.loaded = true;
    });
  }
};
</script>

<style>
.article-list {
  text-align: center;
}
</style>
