<template>
  <div class="content">
    <vue-markdown :source="content"></vue-markdown>
  </div>
</template>

<script>
import VueMarkdown from "vue-markdown";

export default {
  props: ["content"],
  components: {
    VueMarkdown
  }
};
</script>

<style></style>
